/* 带参数的混合，类似于方法，但叫混合 */
* {
  margin: 0;
  padding: 0;
}
#wrap {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 100px auto;
  border: 1px solid;
}
#wrap .inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30px;
  background: #7fffd4;
  height: 30px;
}
#wrap .inner2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  background: #66cdaa;
  height: 200px;
}
